* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    position: relative;
}


/* form comp */

.inp {
    margin-bottom: 20px;
    position: relative;
}

input {
    width: 100%;
    height: 30px;
    padding: 5px 12px;
    font-family: monospace;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid hsl(0deg 0% 46%);
    outline-color: hsl(249, 69%, 63%);
}

input:nth-child(1) {
    width: 80px;
}

input:nth-child(3) {
    width: 80px;
}

input:nth-child(5) {
    width: 115px;
}